doctype html
html(ng-app="xcss")
	head
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		base(href="/")
		title dont be a hoarder keep it in order
		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/js/lib/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/css/app.css")

		body

			block body
		script(type="text/javascript", src="js/lib/angular/angular.js")
		script(type="text/javascript", src="js/lib/angular/angular-route.js")
		script(type="text/javascript", src="js/lib/angular/angular-resource.js")
		script(type="text/javascript", src="js/lib/bootstrap/angular-ui-bootstrap.js")
		script(type="text/javascript", src="js/lib/module.js")
		script(type="text/javascript", src="js/app.js")
		script(type="text/javascript", src="js/searchCodeController.js")
		script(type="text/javascript", src="js/httpService.js")