script#inventorychart(type='text/ng-template')
	div(align="center")
		div.container-fluid
			div.left.divChart
				div.statusLegendMaterial
					table.tableLegend.table.one
						tr.somerow
							td.one(width="10%")
								div
									div.statusLegendMaterial
							td.one(width="10%")
								div
									div.statusLegendMaterial(ng-style="returnStyle(item.status)")
							td.one(width="90%")
								div.btn
									span {{item.name}}
			br
			div.left.divChart#sometag
				div.statusLegendMaterial #{__('colStatus')}
					table.tableLegend.table
						tr.somerow(ng:repeat="item in legend")
							td.two(width="10%")
								div
									div.statusLegendMaterial(ng-style="returnStyle(item.status)")
							td.two(width="90%")
