script#charts(type='text/ng-template')
	div(align="center")
		div.container-fluid
			div.left.divChart
				div.somewrapper
					table.tabledata.table.one
						tr.somerow
							td.one(width="10%")
								div
									div.somewrapper
							td.one(width="10%")
								div
									div.somewrapper(ng-style="returnStyle(item.status)")
							td.one(width="90%")
								div.btn
									span {{item.name}}
			br
			div.left.divChart#sometag
				div.somewrapper #{__('colStatus')}
					table.tabledata.table
						tr.somerow(ng:repeat="item in legend")
							td.two(width="10%")
								div
									div.somewrapper(ng-style="returnStyle(item.status)")
							td.two(width="90%")
