script#sometemplate(type='text/ng-template')
	div.contentwrapper
		div.container-fluid
			div.col-md-4
				a
					h3 STEP 1
						i.fa-wheelchair(ng-show="showStepTwo || showStepThree || showResults")
				label Enter a folder with html files to read into memory
				input(type="text", name="directory.readhtml",value="directory.readhtml", ng-model="directory.readhtml")
					div.someclass
		div.container-fluid
			div.col-md-12
				h3 STEP 4
		div.container-fluid
			div.col-md-12(ng-show="codecleaned")
				span Cleaned code was written to your searched css directory {{ cssdirectory }}

